/*   COMMON    */
:root {
  --dark1: #111111;
  --dark2: #555555;
  --dark4: #999999;
  --pink: #ff3998;
}

body {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: var(--dark1);
  margin: 0;
}

.container {
  box-sizing: border-box;
  min-width: 364px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section {
  border: 1px solid violet;
} */

.button {
  width: 188px;
  height: 75px;
  border-width: 4px;
  border-style: solid;
  border-color: orange;
  border-radius: 50px;
  background-color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

p {
  font-size: 20px;
  line-height: 150%;
  color: var(--dark2);
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
/* ### HEADER ### */

.header {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 36px;
}

.header__nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header__nav ul {
  gap: 28px;
  margin: 0;
  padding: 0;
  height: 20px;
}

.header__nav li {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
}

.header__nav li:last-of-type {
  color: var(--pink);
}

.header__burger {
  font-size: 22px;
  color: var(--dark4);
}

/* $$$ HERO $$$ */

.hero {
  height: 448px;
  margin-top: 42px;
  margin-bottom: 80px;
  display: flex;
  align-items: flex-end;
}

.hero__text {
  width: 274px;
}

.hero__text h5 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: var(--pink);
  margin: 0;
}

.hero__text h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 24px 0;
}

.hero__text button {
  margin-top: 32px;
}

/* .hero__graphic {
  width: 190px;
  height: 278px;
  align-self: flex-start;
  text-align: right;
  overflow: visible;
} */

/* .hero__graphic img {
  width: 50%;
} */

/* $$$ UPSELL $$$ */
.upsell {
  background: linear-gradient(
    59deg,
    rgba(246, 65, 132, 1) 0%,
    rgba(255, 153, 10, 1) 50%,
    rgba(249, 157, 16, 1) 80%,
    rgba(107, 245, 165, 1) 100%
  );
}
.upsell .container {
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upsell h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 16px;
}

.upsell p {
  color: var(--dark1);
}
